.container {
  justify-content: center;
  align-items: center;
}

.app-header img {
  display: block;
  background-color: #ffffff;
  height: 100px;
  margin: 0 auto;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 2fr;
  background-color: #bbbbbb;
  padding: 5px;
  margin: 0px 100px 0px 100px;
  grid-auto-flow: column;
}
.grid-container-header {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr;
  background-color: #bbbbbb;
  padding: 5px 5px 0 5px;
  box-sizing: border-box;
  margin: 100px 100px 0 100px;
  grid-auto-flow: row;
}
.grid-button {
  background-color: #ffffff;
  border: 1px solid #000000;
  text-align: center;
  cursor: pointer;
}
.grid-button:hover {
  background-color: #c60404;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.grid-button-p {
  font-size: 18px;
  font-weight: bold;
}
.grid-item {
  background-color: #ffffff;
  border: 0.5px solid #000000;
  font-size: 30px;
  text-align: left;
}
.grid-item-p {
  font-size: 16px;
  margin-left: 5px;
}
/*grid-scenarios*/
.grid-scenarios-header {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 2fr;
  background-color: #bbbbbb;
  padding: 5px 5px 0 5px;
  box-sizing: border-box;
  margin: 100px 100px 0 100px;
  grid-auto-flow: row;
}
.grid-container-scenarios {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 2fr;
  background-color: #bbbbbb;
  padding: 5px;
  margin: 0px 100px 0px 100px;
  grid-auto-flow: column;
}

.App-button {
  margin: 5px;
  border: 0;
  border-radius: 4px;
  height: 48px;
  font-size: 16px;
  margin: 4px 2px;
  background: #ffffff;
  font-weight: bold;
  color: #d60404;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #c60404;
}

.App-button:hover {
  background-color: #c60404;
  color: white;
}
