.App {
  text-align: center;
}

.App-header img {
  display: block;
  background-color: #ffffff;
  height: 100px;
  margin: 0 auto;
}

.App-button {
  margin: 5px;
  border: 0;
  border-radius: 4px;
  height: 48px;
  font-size: 16px;
  margin: 4px 2px;
  background: #ffffff;
  font-weight: bold;
  color: #d60404;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #c60404;
}

.App-button:hover {
  background-color: #c60404;
  color: white;
}

.App-table {
  display: block;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin-top: 50px;
  margin-left: 15%;
  margin-bottom: 50px;
  margin-right: 15%;
}

.App-table-button {
  margin: 5px;
  border: 0;
  border-radius: 4px;
  height: 30px;
  font-size: 14px;
  margin: 2px;
  background: #ffffff;
  font-weight: bold;
  color: #d60404;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #c60404;
}

.App-table-button:hover {
  background-color: #c60404;
  color: white;
}

.App-table td,
th {
  border: 1px solid #eeeeee;
  text-align: left;
  padding: 8px;
}

.App-table th {
  cursor: pointer;
}

.App-table tr:nth-child(even) {
  background-color: #dddddd;
}

.App-table tr:hover {
  background-color: #bbbbbb;
}
